.divZoomFreezer {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cardZoomFreezer {
    background-color: white;
    margin-top: 2%;
    width: 80vw;
    height: fit-content;
    padding-bottom: 2vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
}

.cardStatusFreezer {
    background-color: white;
    margin-top: 1%;
    width: 80%;
    height: fit-content;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
}

.zoomTitle {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(253, 253, 77, 0.8);
    margin-bottom: 2%;
}

.divZoomErros {
    display: flex;
    height: 10vh;
    justify-content: end;
}

.statusErrosDiv {
    margin-right: 5vw;
}

.resetButton {
    width: 5vw;
    border-radius: 100px;
    background-color: rgb(92, 144, 179, 0.5);
    font-weight: 800;
    cursor: pointer;
}

.statusAtualDivZoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusAtualItemZoom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgAlertaZoom {
    width: 10%;
    height: 25%;
    margin-left: 40%;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}